Source: ros-testing-rmw-connext-cpp
Section: misc
Priority: optional
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-testing-ament-cmake, ros-testing-ament-lint-auto, ros-testing-ament-lint-common, ros-testing-connext-cmake-module, ros-testing-rcutils, ros-testing-rmw, ros-testing-rmw-connext-shared-cpp, ros-testing-rosidl-cmake, ros-testing-rosidl-generator-dds-idl, ros-testing-rosidl-runtime-c, ros-testing-rosidl-runtime-cpp, ros-testing-rosidl-typesupport-connext-c, ros-testing-rosidl-typesupport-connext-cpp, rti-connext-dds-5.3.1, ros-testing-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-testing-rmw-connext-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-testing-ament-cmake, ros-testing-connext-cmake-module, ros-testing-rcutils, ros-testing-rmw, ros-testing-rmw-connext-shared-cpp, ros-testing-rosidl-cmake, ros-testing-rosidl-runtime-c, ros-testing-rosidl-runtime-cpp, ros-testing-rosidl-typesupport-connext-c, ros-testing-rosidl-typesupport-connext-cpp, rti-connext-dds-5.3.1, ros-testing-ros-workspace
Description: Implement the ROS middleware interface using RTI Connext static code generation in C++.
